<!--
File: footer.ejs
Name: Ruchi Patel
StudentId: 301234579
Date: June 6, 2022
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

<style>
    .footer {
      position: bottom;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      justify-content: center;
    }
    .center {
        text-align: center;
    }
   h4 p {
        margin-bottom: 0px;
    }
    .nav-link {
        color: #fff;
    }
    </style>
    </head>
<footer class="footer navbar navbar-expand-sm" style="background-color: rgba(86, 83, 83, 0.775);">
    <div class="navbar-nav center">
       <h4> <p class="nav-link">Ruchi Patel</p></h4>    
             </a>
    </div>
</footer>