<!--
File: header.ejs
Name: Ruchi Patel
StudentId: 301234579
Date: June 6, 2022
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Express</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>



/* Style the header */
header {
  background-color: rgba(86, 83, 83, 0.775);
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  height: 80px;
}


</style>
<header>
    <body>
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" alt="logo" style="width:50px; margin: 0px 10px; ">
    </a>
      
    </body>
</header>


</html>