<%- include ("partials/header") -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

</head>
<%- include ("partials/nav") -%>
<body>

  <!-- Main Conte   nt -->
  <div class="container">
    <div class="row">
        <!-- <h1><%= title %></h1> -->
        <br>
        <div>
            <a href="/" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <p>hello</p>
        </div>
    </div>
</div>
</body>
</html>
<%- include ("partials/footer") -%>